.ArgBrickComponent {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 0 5px 0 5px;
    text-align: center;
    min-width: 13px;
}

.ArgBrickComponent.is-selected {
    border: 1px solid black;
    background-color: gray;
    color: white;
}