.CorkBrickComponent {
  border: 1px solid grey;
  border-radius: 5px 5px 0 0;
  background-color: white;
  padding: 10px;
  margin: 0 5px 0 5px;
  text-align: center;
  min-width: 13px;
  border-radius: 21px;
  height: 15px;
  width: 15px;
  /* border-bottom: 3px solid grey; */
}

.CorkBrickComponent.is-selected {
  border: 1px solid black;
  /* border-bottom: 3px solid black; */
  background-color: gray;
  color: white;
}
